DB_URL=jdbc:postgresql://SEU_HOST_RENDER:5432/poke_team
DB_USERNAME=poke_team_user
DB_PASSWORD=f2Jo27KZ3AlFMH9zALpaVPpYB28Zbtj9
PORT=10000
CORS_ALLOWED_ORIGINS=https://web-poketeam.vercel.app
AUTH_TOKEN_DAYS_VALID=7
H2_CONSOLE_ENABLED=false
